% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="banner" class="small-banner">
        <div class="edit-profile-header">
            {% if object %}
                {% if object.cover_image %}
                    <a href="{{ object.cover_image.url }}" class="cover-picture-container" target="_blank">
                        <img class="cover-picture-small" src=" {{ object.cover_image.url }}" alt="Profile picture">
                    </a>
                {% endif %}
                <h3 class="major">{{ object.name }}</h3>
            {% else %}
                <h2>Add console</h2>
            {% endif %}
        </div>
    </section>


    <div class="wrapper">

        <div class="inner">
            <section>
                <form class="custom-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="next" value= {{ next }}>
                    <div class="row gtr-uniform">

                        {% for field in form %}
                            <div class="col-6 col-12-xsmall">
                                <label>{{ field.label }}</label>
                                {{ field }}

                                {% if form.errors %}
                                    <ul class="error">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>

                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="error">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" class="primary"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}