{% extends 'base.html' %}
{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>


{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>Console Library</h2>
            <p>Explore our collection of vintage video Consoles</p>
            <a href="{% url "console_create" %}" class="button logo">Add console</a>
        </div>
    </section>


    <section class="wrapper alt style1" id="consoles-list">
        <div class="inner">
            <h2 class="major">Consoles</h2>

            <form method="get" class="mb-4">
                <div class="search-form">
                    {{ search_form.search }}
                    <button type="submit" class="button">Search</button>
                </div>
                {% if search_query %}
                    <a href="{% url 'console_list' %}#consoles-list" class="btn btn-secondary">Clear</a>
                {% endif %}
            </form>

            {% if search_query %}
                <p>Search results for: "{{ search_query }}"</p>
            {% endif %}

            {% if current_url %}
                <script>
                    // Redirect to the URL with fragment after page load
                    window.location.href = "{{ current_url|safe }}";
                </script>
            {% endif %}

            <section class="features">
                {% if consoles %}
                    {% for console in consoles %}
                        <article id="console-{{ console.pk }}">
                            {% if console.cover_image %}
                                <a href="{% url 'console_detail' console.pk %}" class="image">
                                    <img src="{{ console.cover_image.url }}" alt="{{ console.name }}"/>
                                </a>
                            {% else %}
{#TODO add console default image#}
                            {% endif %}
                            <h3 class="major console-list">
                                {{ console.name }}

                            </h3>
                            {% if console.logo %}
                                <img src="{{ console.logo.url }}" class="thumbnail small" alt="console logo">
                            {% endif %}
                            {% if console.manufacturer_logo != None %}
                                <img src="{{ console.manufacturer_logo.url }}" class="thumbnail small"
                                     alt="manufacturer logo">
                            {% endif %}
                            {% if console.release_year != None %}
                            <div class="release-year">{{ console.release_year }}</div>
                            {% endif %}
                            {% if console.manufacturer_logo != None %}
                            <div>By {{ console.manufacturer }}&reg;</div>
                            {% endif %}

                            {% if user.is_authenticated %}

                                <div class="rating-widget">
                                    <div class="current-rating">
                                        <a href="#"><span class="rating">{{ console.stars_rating_html|safe }}</span></a>
                                    </div>
                                    <div hidden="hidden" class="your-rating">
                                        <div>Choose your rating:</div>
                                        {% include 'partials/console_rating_stars.html' %}
                                        <a class="button small" href="#">close</a>
                                    </div>
                                </div>

                            {% else %}
                                <span class="rating">{{ console.stars_rating_html|safe }}</span>

                            {% endif %}

                            {% if console.description != None %}
                            <p>{{ console.description|truncatechars:200 }}</p>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <div>
                                    <form method="POST" action="{% url 'comment_console' console.pk %}">
                                        {% csrf_token %}
                                        {{ console_comment_form.as_p }}
                                        <button type="submit" class="button primary small">Comment</button>
                                    </form>
                                </div>
                            {% endif %}

                            <a href="{% url 'console_detail' console.pk %}" class="special">Learn more</a>
                        </article>
                    {% endfor %}
                {% else %}
                    <div>
                        No consoles yet...
                    </div>
                {% endif %}
            </section>
            {% if is_paginated %}
                <ul class="pagination">
                    {# Previous button #}
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}#consoles-list"
                               class="button small">Prev</a></li>
                    {% else %}
                        <li><span class="button small disabled">Prev</span></li>
                    {% endif %}

                    {# Page numbers #}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li>
                                <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ i }}#consoles-list"
                                   class="page active">{{ i }}</a></li>
                        {% else %}
                            <li>
                                <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ i }}#consoles-list"
                                   class="page">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ page_obj.next_page_number }}#consoles-list"
                               class="button small">Next</a></li>
                    {% else %}
                        <li><span class="button small disabled">Next</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}

