{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">{{ console.name }}</h2>
            <section class="features-my">
                <article id="console-{{ console.pk }}">
                    {% if console.cover_image %}
                        <img src="{{ console.cover_image.url }}" alt="{{ console.name }}"/>

                    {% endif %}
                    <div class="console-details">
                        <h3 class="major">{{ console.name }}</h3>
                        <div>{{ console.release_year }}</div>
                        <div>By: {{ console.manufacturer }}</div>

                        {% if user.is_authenticated %}

                           <div class="rating-widget">
                                <div class="current-rating">
                                    <a href="#" ><span class="rating">{{ console.stars_rating_html|safe }}</span></a>
                                </div>
                                <div hidden="hidden" class="your-rating">
                                    <div>Choose your rating:</div>
                                    {% include 'partials/console_rating_stars.html' %}
                                    <a class="button small" href="#">close</a>
                                </div>
                            </div>

                        {% else  %}

                                <span class="rating">{{ game.stars_rating_html|safe }}</span>

                        {% endif %}


                    </div>
                </article>

            </section>
            <section>
                <h3 class="major">Description</h3>
                {% if console.description %}
                    <div class="box alt">
                        <p>{{ console.description }}</p>
                    </div>
                {% else %}
                    <div class="box alt">
                        <p>No description yet...</p>
                    </div>
                {% endif %}
            </section>

            <section>
                <div>
                    <form method="POST" action="{% url 'comment_console' console.pk %}">
                        {% csrf_token %}
                        {{ console_comment_form.as_p }}
                        <button type="submit" class="button primary small">Comment</button>
                    </form>

                </div>
                <h3 class="major" id="console-comments-{{ console.pk }}">Comments</h3>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="box alt comment">
                            <a href="{% url 'profile details' comment.from_user.pk %}">
                                {% if comment.from_user.profile_picture %}
                                    <div class="thumbnail-container">
                                        <img class="thumbnail-profile" src="{{ comment.from_user.profile_picture.url }}"
                                             alt="profile picture">
                                    </div>
                                {% endif %}
                                <div class="user-name">
                                    {{ comment.from_user.get_user_name }}
                                </div>
                            </a>
                            <blockquote>{{ comment.comment|linebreaksbr }}</blockquote>
                            <p class="date-of-publication">{{ comment.created_on }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="box alt">

                        <p>No comments yet...</p>
                    </div>
                {% endif %}
            </section>
                <h3 class="major">Popular games</h3>
                     <div class="row gtr-uniform">
                         {% if popular_games %}
                         {% for game in popular_games %}
                         <div class="col-4">
                                <span class="image fit">
                                      <a href="{% url 'game_detail' game.pk %}" >
                                          <div class="game-title">
                                              {{ game.title }}
                                          </div>
                                          {% if game.cover_image %}
                                            <img src="{{ game.cover_image.url }}" alt="">
                                          {% endif %}

                                 {% if user.is_authenticated %}

                                   <div class="rating-widget">
                                        <div class="current-rating">
                                            <a href="#" ><span class="rating">{{ game.stars_rating_html|safe }}</span></a>
                                        </div>
                                        <div hidden="hidden" class="your-rating">
                                            <div>Choose your rating:</div>
                                            {% include 'partials/game_rating_stars.html' %}
                                            <a class="button small" href="#">close</a>
                                        </div>
                                    </div>

                                {% else  %}

                                        <span class="rating">{{ game.stars_rating_html|safe }}</span>

                                {% endif %}

                                      </a>
                                </span>
                            </div>
                        {% endfor %}
                        {% endif %}
                     </div>
            <section>

            </section>
        </div>
    </section>

{% endblock %}