# Ignore virtual environment
venv/
env/

# Ignore PyCharm project files
.idea/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database file
*.sqlite3

# Ignore static and media files (optional, depending on your setup)
# static/
# media/

# Ignore system files (e.g., macOS, Windows)
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment variable files (optional, depending on your setup)
.env

static-files

migrations
