{% extends 'base.html' %}
{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>Game Library</h2>
            <p>Explore our collection of vintage video games</p>
            {% if user.is_authenticated %}
                <a href="{% url "game_create" %}" class="button logo">Add game</a>
            {% endif %}
        </div>
    </section>

    <section class="wrapper alt style1" id="games-list">
        <div class="inner">
            <h2 class="major">Games</h2>

            <form method="get" class="mb-4">
                <div class="search-form">
                    {{ search_form.search }}
                    <button type="submit" class="button">Search</button>
                </div>
                {% if search_query %}
                    <a href="{% url 'game_list' %}#games-list" class="btn btn-secondary">Clear</a>
                {% endif %}
            </form>

            {% if search_query %}
                <p>Search results for: "{{ search_query }}"</p>
            {% endif %}

            {% if current_url %}
                <script>
                    // Redirect to the URL with fragment after page load
                    window.location.href = "{{ current_url|safe }}";
                </script>
            {% endif %}

            <section class="features">
                {% if games %}
                    {% for game in games %}
                        <article id="game-{{ game.pk }}">
                            {% if game.cover_image %}
                                <a href="{% url 'game_detail' game.id %}" class="image">
                                    <img src="{{ game.cover_image.url }}" alt="{{ game.title }}"/>
                                </a>
                            {% else %}
{#   TODO default game uimage    #}
                            {% endif %}
                            <div class="game-header small">
                                <h2>{{ game.title }}</h2>
                                <div class="uploaded-by">
                                    <div class="thumbnail-container">
                                        <a href="{% url 'profile details' game.to_user.pk %}">
                                        <img class="thumbnail-profile"
                                             src="{{ game.to_user.get_profile_picture_or_default }}"
                                             alt="profile picture">
                                        </a>
                                    </div>
                                    <div class="username">
                                        <a href="{% url 'profile details' game.to_user.pk %}">
                                            {{ game.to_user.get_user_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% if game.developer_logo != None %}
                                <img src="{{ game.developer_logo.url }}" class="thumbnail small" alt="developer logo">
                            {% endif %}

                            {% if game.release_year != None %}
                            <div class="release-year">{{ game.release_year }}</div>
                            {% endif %}
                            {% if game.developer != None %}
                            <div>By {{ game.developer }}&reg;</div>
                            {% endif %}

                            {% if user.is_authenticated %}

                                <div class="rating-widget">
                                    <div class="current-rating">
                                        <a href="#"><span class="rating">{{ game.stars_rating_html|safe }}</span></a>
                                    </div>
                                    <div hidden="hidden" class="your-rating">
                                        <div>Choose your rating:</div>
                                        {% include 'partials/game_rating_stars.html' %}
                                        <a class="button small" href="#">close</a>
                                    </div>
                                </div>

                            {% else %}
                                <span class="rating">{{ game.stars_rating_html|safe }}</span>

                            {% endif %}

                            <p>{{ game.description|truncatechars:200 }}</p>
                            <div class="uploaded-by">

                            </div>
                            <a href="{% url 'game_detail' game.id %}" class="special">Learn more</a>

                            {% if user.is_authenticated %}

                                <div>
                                    <form method="POST" action="{% url 'comment_game' game.pk %}" id="comment-{{ game.pk }}">
                                        {% csrf_token %}
                                           <label>Comment</label>
                                        <p>
                                            {{ game.comment_form.comment}}
                                        </p>
                                        {% if game.comment_form.comment.errors %}
                                        <div class="error">
                                            {{ game.comment_form.comment.errors }}
                                        </div>
                                        {% endif %}

                                        {% if  game.comment_form.message %}
                                        <p class="success_message">
                                             {{ game.comment_form.message }}
                                        </p>
                                        {% endif %}


                                        <button type="submit" class="button primary small">Comment</button>
                                    </form>

                                </div>

                            {% endif %}

                        </article>
                    {% endfor %}
                {% else %}
                    <div>
                        No games yet..
                    </div>
                {% endif %}
            </section>

            {% if is_paginated %}
                <ul class="pagination">
                    {# Previous button #}
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}#games-list"
                               class="button small">Prev</a></li>
                    {% else %}
                        <li><span class="button small disabled">Prev</span></li>
                    {% endif %}

                    {# Page numbers #}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li>
                                <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ i }}#games-list"
                                   class="page active">{{ i }}</a></li>
                        {% else %}
                            <li>
                                <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ i }}#games-list"
                                   class="page">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {# Next button #}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?{% if search_query %}search={{ search_query|urlencode }}&{% endif %}page={{ page_obj.next_page_number }}#games-list"
                               class="button small">Next</a></li>
                    {% else %}
                        <li><span class="button small disabled">Next</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}

