{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="wrapper alt style1">
        <div class="inner">

            <div class="game-header">
                <h2>{{ game.title }}</h2>
                <div class="uploaded-by">
                    {% if game.to_user.profile_picture %}
                        <div class="thumbnail-container">
                            <img class="thumbnail-profile" src="{{ game.to_user.profile_picture.url }}"
                                 alt="profile picture">
                        </div>
                    {% endif %}
                    <div class="username">
                        <a href="{% url 'profile details' game.to_user.pk %}">
                            {{ game.to_user.get_user_name }}
                        </a>
                    </div>
                </div>
            </div>

            <section class="features-my">
                <article id="game-{{ game.pk }}">
                    {% if game.cover_image %}
                        <img src="{{ game.cover_image.url }}" alt="{{ game.title }}"/>

                    {% endif %}

                    <div class="game-details">

                        <div class="release-year big">{{ game.release_year }}</div>
                        {% if game.developer_logo %}
                            <div>
                                <img src="{{ game.developer_logo.url }}" class="thumbnail big" alt="developer logo">
                            </div>
                        {% endif %}
                        <div>By: {{ game.developer }} &reg;</div>


                        <div class="genre">{{ game.genre }}</div>
                        <div>
{#                            <div class="consoles-text">#}
{#                                Consoles:#}
{#                            </div>#}
                            <ul class="consoles-list">
                                {% for console in game.to_consoles.all %}
                                    <li><a href="{% url 'console_detail' console.pk %}">

                                        {% if console.logo %}

                                         <img src="{{ console.logo.url }}" class="thumbnail" alt="console image">

                                        {% elif console.manufacturer_logo.url %}
                                         <img src="{{ console.manufacturer_logo.url }}" class="thumbnail" alt="console image">


                                         {% elif console.cover_image.url %}
                                        <img src="{{ console.cover_image.url }}" class="thumbnail" alt="console image">

                                        {% endif %}
                                        {{ console.name }}
                                    </a></li>
                                {% endfor %}
                            </ul>

                            {% if user.is_authenticated %}

                                <div class="rating-widget">
                                    <div class="current-rating">
                                        <a href="#"><span class="rating">{{ game.stars_rating_html|safe }}</span></a>
                                    </div>
                                    <div hidden="hidden" class="your-rating">
                                        <div>Choose your rating:</div>
                                        {% include 'partials/game_rating_stars.html' %}
                                        <a class="button small" href="#">close</a>
                                    </div>
                                </div>

                            {% else %}

                                <span class="rating">{{ game.stars_rating_html|safe }}</span>

                            {% endif %}


                            {% if game.to_user == request.user %}
                                <ul class="actions">
                                    <li><a href="{% url 'game_update' game.pk %}" class="button primary small">Edit
                                        game</a>
                                    </li>
                                    <li><a href="{% url 'game_delete' game.pk %}" class="button small">Delete
                                        game</a>
                                    </li>

                                </ul>
                            {% endif %}


                </article>
            </section>
            <section>
                <h3 class="major">Description</h3>
                {% if game.description %}
                    <div class="box alt">
                        <p>{{ game.description }}</p>
                    </div>
                {% else %}
                    <div class="box alt">
                        <p>No description yet...</p>
                    </div>
                {% endif %}
            </section>
            <section>
                <h3 class="major">Review by {{ game.to_user.get_user_name }}</h3>
                {% if review %}
                    <div class="box alt">
                        <p>{{ review.content }}</p>
                    </div>
                {% else %}
                    <div class="box alt">
                        <p>No review yet...</p>
                    </div>
                {% endif %}

            </section>
            <section>
                <h3 class="major">Screenshots</h3>
                {% if screenshots %}
                    <div class="box alt">
                    <div class="row gtr-uniform">
                        {% for screenshot in  screenshots %}
                            <div class="col-4">
                                <span class="image fit">
                                      <a href="{{ screenshot.picture.url }}" target="_blank">
                                            <img src="{{ screenshot.picture.url }}" alt="">
                                      </a>
                                </span>
                            </div>
                        {% endfor %}

                    </div>
                {% else %}
                    <div class="box alt">
                        <p>No screenshots yet...</p>
                    </div>

                {% endif %}
                <section>
                    {% if user.is_authenticated %}
                        <div>
                            <form method="POST" action="{% url 'comment_game' game.pk %}">
                                {% csrf_token %}
                                {{ game_comment_form.as_p }}
                                <button type="submit" class="button primary small">Comment</button>
                            </form>
                        </div>
                    {% endif %}
                    <h3 class="major" id="game-comments-{{ game.pk }}">Comments</h3>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="box alt comment">
                                <a href="{% url 'profile details' comment.from_user.pk %}">
                                    {% if comment.from_user.profile_picture %}
                                        <div class="thumbnail-container">
                                            <img class="thumbnail-profile"
                                                 src="{{ comment.from_user.profile_picture.url }}"
                                                 alt="profile picture">
                                        </div>
                                    {% endif %}
                                    <div class="user-name">
                                        {{ comment.from_user.get_user_name }}
                                    </div>
                                </a>
                                <blockquote>{{ comment.comment|linebreaksbr }}</blockquote>
                                <p class="date-of-publication">{{ comment.created_on }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="box alt">

                            <p>No comments yet...</p>
                        </div>
                    {% endif %}
                </section>
                </div>
            </section>
        </div>
    </section>


{% endblock %}
