{% extends 'base.html' %}
{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>


{% block content %}
    <!-- Banner -->

    <section id="banner">
        <div class="inner">
            <h2>Game Library</h2>
            <p>Explore our collection of vintage video games</p>
            <a href="{% url "game_create" %}" class="button primary small">Add game</a>
        </div>
    </section>


    <section class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Games</h2>
            <section class="features">
                {% for game in games %}
                    <article id="game-{{ game.pk }}">
                    {% if game.cover_image %}
                        <a href="{% url 'game_detail' game.id %}" class="image">
                            <img src="{{ game.cover_image.url }}" alt="{{ game.title }}"/>
                        </a>
                    {% else  %}

                    {% endif %}
                        <h3 class="major">{{ game.title }}</h3>

                                {% if user.is_authenticated %}

                                   <div class="rating-widget">
                                        <div class="current-rating">
                                            <a href="#" ><span class="rating">{{ game.stars_rating_html|safe }}</span></a>
                                        </div>
                                        <div hidden="hidden" class="your-rating">
                                            <div>Choose your rating:</div>
                                            {% include 'partials/game_rating_stars.html' %}
                                            <a class="button small" href="#">close</a>
                                        </div>
                                    </div>

                                {% else  %}

                                        <span class="rating">{{ game.stars_rating_html|safe }}</span>

                                {% endif %}

                        <p>{{ game.description|truncatewords:20 }}</p>
                        <a href="{% url 'game_detail' game.id %}" class="special">Learn more</a>
                        <div>
                            <form method="POST" action="{% url 'comment_game' game.pk %}">
                                {% csrf_token %}
                                {{ game_comment_form.as_p }}
                                <button type="submit" class="button primary small">Comment</button>
                            </form>

                        </div>
                    </article>
                {% endfor %}
            </section>
            {% if is_paginated %}
                <ul class="actions">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="button">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="button">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}

