{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="banner" class="small-banner">

        <div class="edit-profile-header logo">
            <h2 class="major">{{ game.title }}</h2>
            <h3>Review</h3>
        </div>
    </section>


    <div class="wrapper">

        <div class="inner">
            <section>

                <form class="custom-form" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    <input type="hidden" name="next" value= {{ next }}>
                    <div class="row gtr-uniform">
                        {% for field in form %}
                            <div class="col-12 col-12-xsmall">
                                <label>{{ field.label }}</label>
                                {{ field }}

                                {% if form.errors %}
                                    <ul class="error">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>

                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="error">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" class="primary small"></li>
                                <li>
                                    <a href="{% url 'delete_review' game.pk %}" class="button small">
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>

            </section>
        </div>
    </div>


{% endblock %}