/*body {*/
/*    background-image: url(../images/arcademachines1.jpg);*/
/*}*/

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

/*Logo icon */


/*banner fake*/

#banner.fake {
    padding: 40px;
}

#banner.fake.padding {
    padding: 60px 0 80px 40px;
}

@media screen and (max-width: 1280px) {
    #banner.fake.padding {
        padding: 60px 0 160px 40px;
    }
}

@media screen and (max-width: 736px) {
    #banner.fake.padding {
        padding: 60px 0 100px 40px;
    }
}


.big-icon > img {
    width: 6em;
}
.small-icon  #gif-icon {
    padding-top: 10px;
    height: 3em;
    filter: brightness(0) saturate(100%) invert(1) sepia(100%) hue-rotate(180deg) saturate(1000%) brightness(0.8);
}
#banner .logo.big-icon {
    margin-bottom: 0;
    filter: brightness(0) saturate(100%) invert(1) sepia(100%) hue-rotate(180deg) saturate(1000%) brightness(0.8);
}
.h1-flex {
    display: flex;
    gap: 20px;
}

/* Background container with image and overlay */
.bg-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.bg-container:before {
    content: "";
    background-image: url('../images/arcademachines1.jpg');  /* Update path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.bg-container::after {
    content: "";
    background-color: rgba(40, 43, 54, 0.9);
    /* Or any other color: rgba(20, 30, 40, 0.8) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Ensure content is positioned properly */
#page-wrapper {
    position: relative;
    z-index: 0;
    min-height: 100vh;
}

/*errors*/

.error > * {
    color: red;
}

/* Hides the default file input */
input[type="file"] {
    display: none;
}

/* Create a custom label that looks like a button */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c5c96;
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    border: solid 2px rgba(255, 255, 255, 0.125);
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

/* Change background on hover */
.custom-file-label:hover {
    background-color: #5c669a;
}

/* Ensure the label is accessible to keyboard users */
.custom-file-label:focus {
    outline: none;
    box-shadow: 0 0 0 2px #76baff;
}

.custom-file-label {
    vertical-align: center;
    font-weight: normal;
    text-transform: capitalize;
}

/*profile picture */


.inner.profile-details {
    display: flex;
}


.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.profile-picture-container {
    width: 300px; /* Set the desired width and height of the circle */
    height: 300px;
    border-radius: 50%; /* Make the container circular */
    overflow: hidden; /* Ensure the image does not overflow */
    display: flex; /* Use flexbox to center the image */
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.profile-picture-small {
    width: 100%; /* Ensure the image takes full width of the container */
    height: 100%; /* Ensure the image takes full height of the container */
    object-fit: cover; /* Cover the entire area without overflow */
    border-radius: 50%; /* Make the image circular as well */
    border: solid 3px rgba(255, 255, 255, 0.125);
}




/*profile details */

/*.flex{*/
/*    display: flex;*/
/*    align-content: center;*/
/*}*/

.username-big {
    font-size: 2.6em;
    font-weight: 300;
    letter-spacing: 2pt;
}

.profile-names {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0  ;
}

.profile-data {
    padding-left: 30pt;
}

.contributions {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*gap: 10px;*/
    margin: 0 0 20pt 0;
}

.contributions > div {
    margin-right: 10px;
}

.contributions span {
    font-size: 1.2em;
}

 ul.actions {
    margin: 40pt 0 0 0;
}

.center {
    text-align: center;
}

/*.profile-data {*/
/*    display: flex;*/
    /*flex-direction: column;*/
/*}*/


@media screen and (max-width: 600px) {
    .inner.profile-details {
        flex-direction: column;
    }
    .contributions {
        margin: 0;
        width: 100%;
    }
    .profile-left {
        width: 100%;
    }
    .profile-data {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin-bottom: 30pt;
    }
    .contributions {
        justify-content: center;
    }

}

@media screen and (max-width: 700px) {
    .profile-picture-container {
        width: 200px;
        height: 200px;
    }
    ul.actions li {
        padding: 2pt;
    }
}

/*@media screen and (max-width: 480px) {*/
/*    .profile-data {*/
/*        -moz-flex-direction: column;*/
/*        -webkit-flex-direction: column;*/
/*        -ms-flex-direction: column;*/
/*        flex-direction: column;*/
/*        margin-left: 0;*/
/*        width: 100% !important;*/
/*        align-items: center;*/
/*    }*/
/*}*/

/*.profile-data h3 {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.profile-data > section > div > div {*/
/*    margin-bottom: 10px;*/
/*}*/





.edit-profile-header,
.delete-profile-header,
.profile-header  {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Rating - stars*/

.rating {
    font-size: 1.5rem;  /* Adjust star size */
    color: gold;  /* Star color */
}

.rating-widget a {
    border-bottom: none;
}

.rating-widget {
    margin-top: 20px;
    margin-bottom: 20px;
}

.your-rating {
    border: 1px dotted;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .your-rating *{
        font-size: 14pt;
    }

}
@media screen and (max-width: 500px) {
    .your-rating *{
        font-size: 13pt;
    }

}


/*games details, console details*/

/*.features-my {*/
/*    display: flex;*/

/*}*/

.features-my > article {
    display: flex;
}

.features-my > article > img {
    width: 50%;
    object-fit: contain;
}

.game-details,
.console-details{
    padding: 40px 60px;
    width: 50%;
}

@media screen and (max-width: 736px) {
    .features-my > article {
        flex-direction: column;
    }

    .features-my > article > img {
        width: 100%;
    }

    .game-details,
    .console-details {
        padding: 40px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .game-details > *,
    .console-details > * {
        font-size: 14pt;
    }
}


/*cover picture */

.cover-picture-container {
    width: 300px; /* Set the desired width and height of the circle */
    /*height: 150px;*/
    /*border-radius: 50%; !* Make the container circular *!*/
    overflow: hidden; /* Ensure the image does not overflow */
    display: flex; /* Use flexbox to center the image */
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.cover-picture-small {
    width: 100%; /* Ensure the image takes full width of the container */
    height: 100%; /* Ensure the image takes full height of the container */
    object-fit: cover; /* Cover the entire area without overflow */
    /*border-radius: 50%; !* Make the image circular as well *!*/
}


/*multiple selects*/

#id_to_consoles {
    height: fit-content;
    overflow: hidden; /* Hide the scrollbar */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;     /* For Firefox */
    background-image: none;
    padding: 20px 50px 0 50px;
}
#id_to_consoles::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit-based browsers */
}

#id_to_consoles > option {
    background: none;
    padding: 6px 0;
    text-align: center ;
}

#id_to_consoles > option:checked {
    background-color: #292b38;
}




/*thumbnails*/

.thumbnail {
    width: 80px;
    max-height: 20px;
}

.thumbnail.big {
    width: 150px;
    max-height: 150px;
    height: unset;
}

.thumbnail.small {
    width: 100px;
    max-height: 40px;
    height: unset;
    margin-right: 40px;
}

.thumbnail-home {
    width: 4em;
}

@media screen and (max-width: 830px) {
    .thumbnail-home {
        width: 3em;
    }
    .thumbnail-text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 630px) {
    .thumbnail-home {
        width: 2.5em;
    }
    .thumbnail-text {
        font-size: 0.6em;
    }
}

.home-thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.view-all {
    margin-top: 50pt;
}


/*game-header*/

.game-header {
    display: flex;
    flex-direction: column;
    /*gap: 50px;*/
    /*justify-content: space-between;*/
    width: 100%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin-bottom: 20pt;
}

.game-header > h2 {
    margin-bottom: 0;
    font-size: 2em;
}

.game-header.small > h2 {
    margin-bottom: 0;
    font-size: 1.4em;
}

.game-header.small .uploaded-by  .username {
    font-style: italic;
    font-size: 0.8rem;
}

#id_username *{
    font-size: 0.8em;
    font-style: normal;
}

.game-header.small .thumbnail-container,
.comment .thumbnail-container {

    width: 30px; /* Adjust the size as needed */
    height: 30px;
    overflow: hidden; /* Ensures anything outside the circle is hidden */
    margin-bottom: 6px;
}

.game-header.small .uploaded-by,
.comment .uploaded-by {
    gap: 10px;
}



.uploaded-by {
    display: flex;
    align-items: center;
    gap: 20px;

}

.uploaded-by > .username {
    font-style: italic;
}


/*thumbnail-profile picture */
.thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    overflow: hidden; /* Ensures anything outside the circle is hidden */
    margin-bottom: 10px;
}

.thumbnail-profile {
    width: 100%;
    height: 100%;
    border: solid 3px rgba(255, 255, 255, 0.125);
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Prevents distortion while filling the circle */

}

.user-name {
    font-size: 1.3em;
    margin: 20px;
}

/*comments */
section .comment:nth-of-type(odd) {
  margin-right: 100px;
}
section .comment:nth-of-type(even) {
  margin-left: 100px;
}

.date-of-publication{
    text-align: right;
    font-size: 0.7rem;
}
.box.alt.comment {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    border-radius: 10px;
}

@media screen and (max-width: 736px) {
    section .comment:nth-of-type(odd) {
        margin-right: 50px;
    }
    section .comment:nth-of-type(even) {
        margin-left: 50px;
    }

}

@media screen and (max-width: 560px) {
    section .comment:nth-of-type(odd) {
        margin-right: 30px;
    }
    section .comment:nth-of-type(even) {
        margin-left: 30px;
    }
    .box.alt.comment {
        margin-bottom: 20px;
        padding: 10px 20px;
    }

}

@media screen and (max-width: 400px) {
    section .comment:nth-of-type(odd) {
        margin-right: 0;
    }
    section .comment:nth-of-type(even) {
        margin-left: 0;
    }
    .box.alt.comment {
        margin-bottom: 20px;
    }

}

.box.alt.comment > blockquote{
    word-wrap: break-word;   /* Wraps long words to the next line */
    white-space: pre-line;   /* Preserves new lines and spaces */
}

.comment-textarea {
    min-height: 100px;
    max-height: 300px;
    height: 100px;
    resize: vertical;
}



/* game title in console details view*/

.game-title {
    font-size: 2em;
    text-align: center;
    margin-inside: 30px;
}

@media screen and (max-width: 736px) {
    .game-title {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 640px) {
    .game-title {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 520px) {
    .game-title {
        font-size: 1.2em;
    }
}

.features-my {
    margin-bottom: 50px;
}



/*release year*/

.release-year{
    font-size: 1.8em;
}

.release-year.big{
    font-size: 2.5em;
}


/*genre*/

.genre {
    font-size: 2rem;
    font-style: italic;
    margin: 20px 0;
    text-transform: lowercase;
}


/*consoles list */
.consoles-list {
    list-style-type: none;
    padding-left: 0;
}

/*.consoles-text {*/
/*    font-size: 1.4rem;*/
/*}*/


/*search-form*/
.search-form {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 736px) {
    .search-form   {
        flex-direction: column;
    }
    .search-form > button {
        width: 100px
    }

}


/*spotlight-img-container*/
/* Ensures the flex container allows items to grow and stay circular */
a.image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.spotlight-img-container {
    width: 100%;             /* Fills the parent element (the anchor) */
    padding-top: 100%;       /* Maintains a square aspect ratio */
    border-radius: 50%;      /* Makes the container circular */
    overflow: hidden;        /* Clips any overflow */
    position: relative;      /* Allows absolute positioning of the image */
}

.spotlight-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;       /* Ensures the image covers the circle without distortion */
}

@media screen and (max-width: 736px) {
    .user-name-nav-big {
       display: none;
    }
    .user-name-nav-small {
        display: block;
        font-size: 0.7em;
    }

}

/*screenshot delete button*/

.screenshot-delete-btn .button{
    box-shadow: 0 0 10px rgba(46, 45, 46, 0.7); ;
}

.screenshot-container {
    position: relative;
}

.screenshot-delete-btn {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
    padding: 5px; /* Optional: spacing around the button */
}

@media screen and (max-width: 736px) {
    .screenshot-delete-btn .button{
        font-size: 0.4em;
    }
    .screenshot-delete-btn {
        bottom: 5px;
        right: 5px;
        padding: 4px;
    }
}

@media screen and (max-width: 550px) {
    .screenshot-delete-btn .button{
        font-size: 0.3em;
    }
    .screenshot-delete-btn {
        bottom: 4px;
        right: 4px;
        padding: 2px;
    }
}
/* Add screenshot form*/

#add_screenshot {
    width: 30%;
}
#add_screenshot .upload-container {
    padding: 10px 10px 4px 10px;
}

@media screen and (max-width: 736px) {
    #add_screenshot {
    width: 100%;
    }
}
.message.success {
    color: green;
}


/*delete screenshot .disabled*/
.disabled {
    pointer-events: none;
    opacity: 0.7;
}


.console-by-manufacturer {
    font-size: 0.8rem;
}

@media screen and (max-width: 736px) {
    .console-by-manufacturer {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 480px) {
    .console-by-manufacturer {
        font-size: 0.5rem;
    }
}


/* hide comment icon */

a#show-less-comments:not(.button):before {
    content: "\f068";
}


/*success comment message */

.success_message {
    color: green;
}