
{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

    <section id="banner" class="fake">
    </section>
    <div class="wrapper">
        <div class="inner">
            <section>
                <h3 class="major">Change password</h3>
                <form class="custom-form" method="post">

                    {% csrf_token %}
                    <input type="hidden" name="next" value= {{ next }}>

                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label>Old password</label>

                            {{ form.old_password|placeholder:'Old password' }}
                            <div class="error">
                                {{ form.old_password.errors }}
                            </div>

                        </div>
                        <div class="col-6 col-12-xsmall">

                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>New password</label>

                            {{ form.new_password1|placeholder:'New password' }}
                            <div class="error">
                                {{ form.new_password1.errors }}
                            </div>

                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Confirm</label>

                            {{ form.new_password2|placeholder:'Enter new password again' }}
                            <div class="error">
                                {{ form.new_password2.errors }}
                            </div>

                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Change" class="primary"></li>

                            </ul>
                        </div>
                    </div>
                </form>
                <div class="second-option">

                    <!-- Link to Login Page -->
                    <p>Go back to <a href="{% url 'profile details' user.pk %}"><b>Profile details</b></a></p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}