{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="banner" class="fake"></section>

    <section class="wrapper style1">
        <div class="inner profile-details">
            <div class="profile-left">
                <div class="profile-picture-container">
                    <img class="profile-picture-small" src=" {{ object.get_profile_picture_or_default }}"
                         alt="Profile picture">
                </div>
            </div>
            <div class="profile-data">
                <div class="username-big">
                    {{ object.username }}
                </div>
                <div class="contributions">
                    <div>
                        <span> {{ object.game_set.count }} </span> games
                    </div>
                    <div>
                        <span>  {{ object.screenshot_set.count }} </span> screenshots
                    </div>
                    <div>
                        <span> {{ object.gamereview_set.count }} </span> reviews
                    </div>
                    <div>
                        <span>{{ rates }}</span> rates
                    </div>
                    <div>
                        <span> {{ comments_count }}</span> comments
                    </div>
                </div>
                <div class="profile-names">
                    {{ object.get_user_name }}
                </div>
                {% if object.email %}
                    <div>
                        {{ object.email }}
                    </div>
                {% endif %}
                {% if object.age %}
                    <div>
                        Age: {{ object.age }}
                    </div>
                {% endif %}
                {% if object.gender %}
                    <div>
                        {{ object.gender }}
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if object.pk == request.user.pk %}
                        <ul class="actions">
                            <li><a href="{% url 'logout' %}" class="button primary small">Logout</a>
                            <li><a href="{% url 'profile_edit' request.user.pk %}" class="button small">Edit</a>
                            </li>
                            <li><a href="{% url 'profile delete' request.user.pk %}" class="button small">Delete</a>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </section>
    <section class="wrapper alt style2">
        <div class="inner">
            <h2 class="major">Games</h2>
            <section class="features">
                {% if object.game_set.all %}

                    {% for game in object.game_set.all %}
                        <article id="game-{{ game.pk }}">
                            {% if game.cover_image %}
                                <a href="{% url 'game_detail' game.id %}" class="image">
                                    <img src="{{ game.cover_image.url }}" alt="{{ game.title }}"/>
                                </a>
                            {% else %}
{#TODO add game default image  #}
                            {% endif %}

                            <div class="game-header small">
                                <h2>{{ game.title }}</h2>
                                <div class="uploaded-by">

                                    <div class="thumbnail-container">
                                        <img class="thumbnail-profile"
                                             src="{{ game.to_user.get_profile_picture_or_default }}"
                                             alt="profile picture">
                                    </div>
                                    <div class="username">
                                        <a href="{% url 'profile details' game.to_user.pk %}">
                                            {{ game.to_user.get_user_name }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% if game.developer_logo != None %}
                                <img src="{{ game.developer_logo.url }}" class="thumbnail small" alt="developer logo">
                            {% endif %}
                            {% if game.release_year != None %}
                            <div class="release-year">{{ game.release_year }}</div>
                            {% endif %}
                            {% if game.developer != None %}
                            <div>By {{ game.developer }}&reg;</div>
                            {% endif %}
                            {% if user.is_authenticated %}

                                <div class="rating-widget">
                                    <div class="current-rating">
                                        <a href="#"><span class="rating">{{ game.stars_rating_html|safe }}</span></a>
                                    </div>
                                    <div hidden="hidden" class="your-rating">
                                        <div>Choose your rating:</div>
                                        {% include 'partials/game_rating_stars.html' %}
                                        <a class="button small" href="#">close</a>
                                    </div>
                                </div>

                            {% else %}
                                <span class="rating">{{ game.stars_rating_html|safe }}</span>
                            {% endif %}

                            <p>{{ game.description|truncatewords:20 }}</p>
                            <div class="uploaded-by">

                            </div>
                            <a href="{% url 'game_detail' game.id %}" class="special">Learn more</a>

                            {% if user.is_authenticated %}

                                <div>
                                    <form method="POST" action="{% url 'comment_game' game.pk %}">
                                        {% csrf_token %}
                                        {{ game_comment_form.as_p }}
                                        <button type="submit" class="button primary small">Comment</button>
                                    </form>
                                </div>

                            {% endif %}

                        </article>
                    {% endfor %}
                {% else %}
                    <div>
                        No games from {{ object.get_username }} yet...
                    </div>
                {% endif %}

            </section>
            {% if is_paginated %}
                <ul class="actions">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="button">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="button">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}