{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

    <section id="banner" class="fake">
    </section>
    <div class="wrapper">
        <div class="inner">
            <section>
                <h3 class="major">Register to Video Games Archive</h3>
                <form class="custom-form" method="post">

                    {% csrf_token %}
                    <input type="hidden" name="next" value= {{ next }}>

                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label>Username</label>

                            {{ form.username|placeholder:'Username' }}
                            <div class="error">
                                {{ form.username.errors }}
                            </div>

                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Email</label>

                            {{ form.email|placeholder:'Email' }}
                            <div class="error">
                                {{ form.email.errors }}
                            </div>

                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Password</label>

                            {{ form.password1|placeholder:'Password' }}
                            <div class="error">
                                {{ form.password1.errors }}
                            </div>

                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Repeat password</label>

                            {{ form.password2|placeholder:'Repeat password' }}
                            <div class="error">
                                {{ form.password2.errors }}
                            </div>

                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Register" class="primary"></li>
                                <li><a href="{% url 'register' %}" class="button">Reset</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
                <div class="second-option">

                    <!-- Link to Login Page -->
                    <p>Have an account? <a href="{% url 'login' %}"><b>Log in</b></a></p>
                </div>
            </section>
        </div>
    </div>

{% endblock %}