{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="banner" class="fake">
        <a class="button " href="javascript:history.back()">Go Back</a>
    </section>

    <section id="one" class="wrapper spotlight style3">
        <div class="inner">
            <div class="not-found content">
                <div id="404-container"></div>
                <h2 style="font-size: 3em">404</h2>
                <h3>Resource not found</h3>
                <a class="button" href="javascript:history.back()">Go Back</a>

            </div>
            <div class="not-found-image-container">
                <img class="not-found-image" src="{% static 'images/added/404-space-invadors-2.gif' %}" alt="404 - not found">

            </div>
        </div>

    </section>


{% endblock %}


