{% extends 'base.html' %}
{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        {% if user.is_authenticated %}

        <h2>Welcome to Video Games Archive, {{ user.get_user_name }}</h2>

        {% else %}

        <h2>Welcome to Video Games Archive</h2>

        {% endif %}

        <p>Explore the history of gaming through our extensive collection of vintage games and consoles.</p>
    </div>
</section>

<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="{% url 'game_list' %}" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <div class="content">
                <h2 class="major">Latest Games</h2>
                <ul>
                    {% for game in latest_games %}
                        <li><a href="{% url 'game_detail' game.id %}">{{ game.title }}</a></li>
                    {% endfor %}
                </ul>
                <a href="{% url 'game_list' %}" class="special">View All Games</a>
            </div>
        </div>
    </section>

    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <a href="{% url 'console_list' %}" class="image"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
            <div class="content">
                <h2 class="major">Latest Consoles</h2>
                <ul>
                    {% for console in latest_consoles %}
                        <li><a href="{% url 'console_detail' console.id %}">{{ console.name }}</a></li>
                    {% endfor %}
                </ul>
                <a href="{% url 'console_list' %}" class="special">View All Consoles</a>
            </div>
        </div>
    </section>
</section>
{% endblock %}